body {
    background-color:beige;
}
main {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid;
    padding: 10px;
}
.hilow {
    background-color: coral;
    margin: 10px 40%;
    border-radius: 5px;
}
.preAtt {
    margin: 10px 30%;
    align-items: center;
}
.attempts{
    background-color: aliceblue;
    margin: 10px 30%;
    border-radius: 5px;
}